@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Nunito:wght@400;700&display=swap");

:root {
    --custom-orange: #ff8400;
}

body{
    font-family: 'Nunito', sans-serif;
}
.alegreya {
    font-family: 'Alegreya', serif;
}

.bg-warning {
    background-color: var(--custom-orange) !important;
}

.btn-outline-warning {
    --bs-btn-color: var(--custom-orange);
    --bs-btn-border-color: var(--custom-orange);
    --bs-btn-hover-bg: var(--custom-orange);
    --bs-btn-hover-border-color: var(--custom-orange);
    --bs-btn-active-bg: var(--custom-orange);
    --bs-btn-active-border-color: var(--custom-orange);
}

.border-warning {
    border-color: var(--custom-orange) !important;
}

.shadow-blur {
    box-shadow: 0 0 10px rgba(255, 132, 0, 0.5);
}

.correct {
    color: green;
    background: none;
}

.incorrect {
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

.not-typed {
    color: #666;
}
